.home-partner-wrapper {
  padding-bottom: 10vh;

  .home-partner-title-wrapper {
    padding-top: 8vh;
    width: 100%;
    background-image: url('../../../img/dot-grid-hor.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 59% 20%;

    @media screen and (max-width: 767px) {
      background-position: 65% 20%;
      background-size: 30vw;
    }

    .home-partner-subtitle {
      width: 40%;
      margin: 0 auto;

      @media screen and (max-width: 767px) {
        width: 70%;
      }
    }
  }

  .home-partner-logo-container {
    width: 60vw;
    height: 15vw;
    max-width: 1140px;
    max-height: 290px;
    margin-top: 5vh;
    background-image: url('../../../img/courses/our-partner-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $color-white;
    background-position: center;

    @media screen and (max-width: 767px) {
      width: 80vw;
      height: 20vw;
    }

    .logo-line-1 {
      width: 100%;
      height: 25%;

      .single-logo-container {
        width: 7vw;
        height: 3vw;
        max-width: 128px;
        max-height: 55px;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1, 1.1);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          opacity: 0.5;
        }
      }

      .opacity-1 {
        opacity: 0.1;
      }
    }

    .logo-line-2 {
      width: 100%;
      height: 75%;

      .single-logo-container {
        width: 9vw;
        height: 3.5vw;
        max-width: 160px;
        max-height: 68px;
        margin: 10% auto 0;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.3, 1.3);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          opacity: 0.8;
        }
      }

      .active-logo {
        width: 16vw;
        height: 5vw;
        max-width: 320px;
        max-height: 135px;
        margin-top: 4.5vh;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05, 1.05);
        }

        img {
          opacity: 1;
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }
  }
}
