//COLORS - 对应设计图的颜色编号
$color-primary: #2fd098;
$color-white: #ffffff;
$color-black: #232020;
$color-light-theme: #3dafbe;
$color-dark-theme: #2f799a;
$color-light-blue: #00ffeb;

$color-light-grey-1: #f0f0f0;
$color-light-grey-2: #bfbfbf;
$color-light-grey-3: #adadad;

$color-dark-grey-1: #939393;
$color-dark-grey-2: #646464;
$color-dark-grey-3: #434343;

$color-orange: #ff691a;
$color-yellow: #ffcf2e;

//FONTWEIGHT
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-900: 900;

//FONTSIZE
$default-font-size: 1.6rem;
$font-size-6: 6rem;
$font-size-8: 8rem;
$font-size-10: 1rem;
$font-size-12: 1.2rem;
$font-size-13: 1.3rem;
$font-size-14: 1.4rem;
$font-size-15: 1.5rem;
$font-size-16: 1.6rem;
$font-size-17: 1.7rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-22: 2.2rem;
$font-size-24: 2.4rem;
$font-size-25: 2.5rem;
$font-size-26: 2.6rem;
$font-size-28: 2.8rem;
$font-size-30: 3rem;
$font-size-40: 4rem;
$font-size-50: 5rem;
$font-size-60: 6rem;
$font-size-70: 7rem;
$font-size-80: 8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//border-radius
$border-radius-4: 4px;
$border-radius-8: 8px !important;
$border-radius-16: 16px;
$border-radius-23: 23px;
$border-radius-24: 24px;
