//margin, padding
//8px
.pl-8 {
  padding-left: 0.8rem;
}

.pr-8 {
  padding-right: 0.8rem;
}

.pt-8 {
  padding-top: 0.8rem;
}

.pb-8 {
  padding-bottom: 0.8rem;
}
.py-8 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.px-8 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

//10px
.pl-10 {
  padding-left: 1rem;
}

.pr-10 {
  padding-right: 1rem;
}

.pt-10 {
  padding-top: 1rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

//12px
.pl-12 {
  padding-left: 1.2rem;
}

.pr-12 {
  padding-right: 1.2rem;
}

.pt-12 {
  padding-top: 1.2rem;
}

.pb-12 {
  padding-bottom: 1.2rem;
}

//20px
.pl-20 {
  padding-left: 2rem;
}

.pr-20 {
  padding-right: 2rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

//25px
.pl-25 {
  padding-left: 2.5rem;
}

.pr-25 {
  padding-right: 2.5rem;
}

.pt-25 {
  padding-top: 2.5rem;
}

.pb-25 {
  padding-bottom: 2.5rem;
}

//30px
.pl-30 {
  padding-left: 3rem;
}

.pr-30 {
  padding-right: 3rem;
}

.pt-30 {
  padding-top: 3rem;
}

.pb-30 {
  padding-bottom: 3rem;
}

//35px
.pl-35 {
  padding-left: 3.5rem;
}

.pr-35 {
  padding-right: 3.5rem;
}

.pt-35 {
  padding-top: 3.5rem;
}

.pb-35 {
  padding-bottom: 3.5rem;
}

//40px
.pl-40 {
  padding-left: 4rem;
}

.pr-40 {
  padding-right: 4rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

//60
.pl-60 {
  padding-left: 6rem;
}

.pr-60 {
  padding-right: 6rem;
}


//100
.pl-100 {
  padding-left: 10rem;
}

.pr-100 {
  padding-right: 10rem;
}

.pt-100 {
  padding-top: 10rem;
}
.pb-100 {
  padding-bottom: 10rem;
}

//8px
.ml-8 {
  margin-left: 0.8rem;
}

.mr-8 {
  margin-right: 0.8rem;
}

.mt-8 {
  margin-top: 0.8rem;
}

.mb-8 {
  margin-bottom: 0.8rem;
}

//10px
.ml-10 {
  margin-left: 1rem;
}

.mr-10 {
  margin-right: 1rem;
}

.mt-10 {
  margin-top: 1rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

//20px
.ml-20 {
  margin-left: 2rem;
}

.mr-20 {
  margin-right: 2rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

//25px
.ml-25 {
  margin-left: 2.5rem;
}

.mr-25 {
  margin-right: 2.5rem;
}

.mt-25 {
  margin-top: 2.5rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

//30px
.ml-30 {
  margin-left: 3rem;
}

.mr-30 {
  margin-right: 3rem;
}

.mt-30 {
  margin-top: 3rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

//35px
.ml-35 {
  margin-left: 3.5rem;
}

.mr-35 {
  margin-right: 3.5rem;
}

.mt-35 {
  margin-top: 3.5rem;
}

.mb-35 {
  margin-bottom: 3.5rem;
}

//40px
.ml-40 {
  margin-left: 4rem;
}

.mr-40 {
  margin-right: 4rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

//50px
.ml-50 {
  margin-left: 5rem;
}

.mr-50 {
  margin-right: 5rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

//55px
.ml-55 {
  margin-left: 5.5rem;
}

.mr-55 {
  margin-right: 5.5rem;
}

.mt-55 {
  margin-top: 5.5rem;
}

.mb-55 {
  margin-bottom: 5.5rem;
}

//80
.mt-80 {
  margin-top: 8rem;
}

//100
.ml-100 {
  margin-left: 10rem;
}

.mr-100 {
  margin-right: 10rem;
}

.mt-100 {
  margin-top: 10rem;
}
.mb-100 {
  margin-bottom: 10rem;
}

//200
.mb-200 {
  margin-bottom: 20rem;
}

.mt-v30 {
  margin-top: 10rem;
}
//border radius
.border-radius-4 {
  border-radius: $border-radius-4;
}

.border-radius-8 {
  border-radius: $border-radius-8;
}

.border-radius-16 {
  border-radius: $border-radius-16;
}

.border-radius-23 {
  border-radius: $border-radius-23;
}

.border-radius-24 {
  border-radius: $border-radius-24;
}
