.contact-page-container {
    width: 60%;

    @include respond(large-desktop) {
        width: 60%;
    }

    @include respond(phone) {
        width: 90%;
    }
}

.contact-form-container {
    width: 40%;

    @include respond(large-desktop) {
        width:  60%;
    }

    @include respond(desktop) {
        width: 80%;
    }

    @include respond(tablet) {
        width: 100%;
    }
    
    @include respond(phone) {
        width: 100%;
    }
}
